BASE_URL=https://restful-booker.herokuapp.com                           # Base URL for API Restful Booker
MOCK_URL=https://b46c2b66-2cdd-4ff5-abb5-388678ae176d.mock.pstmn.io     # Mock Server for API Restful Booker
USER=admin                                                              # Username for authentication (Public)
PASSWORD=password123                                                    # Password for authentication (Public)
MAX_RESPONSE_TIME=1500                                                  # Maximum acceptable response time in milliseconds